<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buckets</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body></body>
</html>
