<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <main>
      <h1 class="title">My Super Secret Bucket List</h1>
      <button></button>
      <a href="/auth/signin">
        <div class="g-sign-in-button">
          <div class="content-wrapper">
            <div class="logo-wrapper">
              <img
                src="https://developers.google.com/identity/images/g-logo.png"
              />
            </div>
            <span class="text-container">
              <span>Sign in with Google</span>
            </span>
          </div>
        </div>
      </a>
      <h2 class="subtitle">
        <i>For stuff you wish to accomplish during this lifetime.</i>
      </h2>
    </main>
    <%-include('./partials/footer.ejs')%>
  </body>
</html>
