    <%-include('./partials/head.ejs')%>
    <main>
      <div class="title">My Super Secret Bucket List</div>
      <button>Signin with Google</button>
      <div class="subtitle">For stuff you wish to accomplish during this lifetime.</div>

    </main>

    <%-include('./partials/footer.ejs')%>
  </body>
</html>
