<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <main>
      <h1 class="title">My Super Secret Bucket List</h1>
      <button>
        <a href="/auth/google"> Signin with Google </a>
      </button>
      <h2 class="subtitle">
        <i>For stuff you wish to accomplish during this lifetime.</i>
      </h2>
    </main>
    <%-include('./partials/footer.ejs')%>
  </body>
</html>
